<div class="navbar">
  <%= image_tag "logos/Topo.png" %>
  <div class= "nav-links d-flex justify-content-between">
    <div class= "start-links">
      <%= link_to "Inicio", root_path, class: "px-5" %>
      <%= link_to "Projetos", root_path, class: "px-5" %>
      <%= link_to "Bio", root_path, class: "px-5" %>
      <%= link_to "Livros", root_path, class: "px-5" %>
      <%= link_to "Contato", root_path, class: "px-5" %>
    </div>
    <div class= "end-link">
      <%= link_to "AO VIVO", root_path, class: "px-4" %>
      <%= image_tag "icones/Transmitir ao vivo.png" %>
    </div>
  </div>
  <div class= "nav-social d-flex justify-content-between">
    <div class= "start-social">
      <%= link_to "http://www.pipocaagil.com.br", target: "_blank" do %>
        <%= image_tag "icones/logo-youtube.png" %>
      <% end %>
       <%= link_to "http://www.pipocaagil.com.br", target: "_blank" do %>
        <%= image_tag "icones/logo-facebook.png" %>
      <% end %>
       <%= link_to "http://www.pipocaagil.com.br", target: "_blank" do %>
        <%= image_tag "icones/logo-instagram.png" %>
      <% end %>
      <%= link_to "http://www.pipocaagil.com.br", target: "_blank" do %>
        <%= image_tag "icones/logo-twitter.png" %>
      <% end %>
    </div>
    <div class= "end-social">
      <%= link_to "Me Pague um café", root_path, class: "px-2" %>
      <%= image_tag "icones/icons8-café.gif" %>
    </div>
  </div>
</div>
