<div class="containner">
  <div class="d-flex first-banner">
    <div class="first-banner-left">
      <p class="title-home">O Podcast mais animado do Mundo Ágil</p>
      <div class="title-description">
        <p>Cadastre-se no clube de assinantes e tenha acesso a todos os conteúdos exclusivos do mundo da tecnologia</p>
      </div>
      <a class="btn btn-cadastrar" href="/users/sign_up" style="margin-bottom: 10px;">Cadastrar</a>
      <p id="possui-conta">
        <a href="/users/sign_in" style="color: #000;">Já possui conta? Entre aqui</a>
      </p>
    </div>
    <div class="first-banner-right">
      <%= image_tag "Photos-Ibson/foto_ibson.png" %> <br>
      <%= link_to "Acesse a trilha do conhecimento", root_path, style: "color: #000; margin-right: 5px;" %>
    </div>
  </div>
  <div class="d-flex second-banner mt-5  py-5">
    <div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/FtMOybb4MoA" frameborder="0" allowfullscreen></iframe>
    </div>
    <div>
      <p class="title-video">Video em Destaque</p>
      <p><strong>O primeiro Podcast carioca falando sobre agilidade.</strong></p>
      <p><strong>Em parceria com Paulo Caroli</strong></p>
    </div>
  </div>
  <p class="title text-center mt-5 mb-5">Últimos Episódios</p>
  <div class="videos mt-5">
    <div class="d-flex first-row">
      <div class="video video-first">
        <div class="video-img">
          <iframe src="https://www.youtube.com/embed/RrwXUZlvQ5s" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video-content">
          <h3>Pix - Desenvolvimento ágil</h3>
          <p>
            17 de janeiro de 2022<br>
            Convidados: Caique, Nelson, <br> Racioppi, Romulo, Guilherme, <br> LP, Marcelo e Carlos.
          </p>
        </div>
      </div>
      <div class="video video-second">
        <div class="video-img">
          <iframe src="https://www.youtube.com/embed/DbWVH3Jrl7U" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video-content">
          <h3>Clínica KANBAN</h3>
          <p>
            10 de janeiro de 2022<br>
            Convidado: Antonio Polo.<br>
          </p>
        </div>
      </div>
    </div>
    <div class="d-flex second-row">
      <div class="video video-third">
        <div class="video-img">
          <iframe src="https://www.youtube.com/embed/PsJP7JHiQlA" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video-content">
          <h3>Cliente Ágil</h3>
          <p>
            11 de janeiro de 2022<br>
            Convidados: Caique e Carlos Cavalcante.
          </p>
        </div>
      </div>
      <div class="video video-forth">
        <div class="video-img">
          <iframe src="https://www.youtube.com/embed/679b8Ku9lu0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video-content">
          <h3>Agilidade em Portugal</h3>
          <p>
            8 de janeiro de 2022<br>
            Convidado: George de Luca.
          </p>
        </div>
      </div>
    </div>
  </div>
  <p class="title text-center mt-5">Parcerias</p>
  <div class="logo-parcerias">
    <div class="d-flex">
      <%= image_tag "logos/logo_coach.jpg", class: "logo-img" %>
      <%= image_tag "logos/logo_agiliza_ceara.jpg", class: "logo-img" %>
      <%= image_tag "logos/logo_fleks.jpg", class: "logo-img" %>
      <%= image_tag "logos/logo_conversa_agil.jpg", class: "logo-img" %>
      <%= image_tag "logos/logo_inovacao.jpg", class: "logo-img" %>
    </div>
    <div class="d-flex">
      <%= image_tag "logos/logo_rio_gamer.jpg", class: "logo-img" %>
      <%= image_tag "logos/logo_fabrica.jpg", class: "logo-img" %>
      <%= image_tag "logos/logo_inovagil.jpg", class: "logo-img" %>
      <%= image_tag "logos/logo_iiba.jpg", class: "logo-img" %>
      <%= image_tag "logos/logo_manifest.jpg", class: "logo-img" %>
    </div>
  </div>
  <p class="title text-center mt-5 pb-5">Ouça em:</p>
  <div class="d-flex justify-content-between logo-podcasts">
    <%= image_tag "Icones_streaming/icone_spotify.jpg", class: "logo-podcast-img" %>
    <%= image_tag "Icones_streaming/icone_anchor.jpg", class: "logo-podcast-img" %>
    <%= image_tag "Icones_streaming/icone_google.jpg", class: "logo-podcast-img" %>
    <%= image_tag "Icones_streaming/icone_overcast.jpg", class: "logo-podcast-img" %>
    <%= image_tag "Icones_streaming/icone_podcast_apple.jpg", class: "logo-podcast-img" %>
  </div>
  <p class="feedback text-center mt-5">Seu feedback é muito importante para nós!</p>
  <div class="stars-container">
    <i class="fas fa-star star" onclick="rateStar(1)"></i>
    <i class="fas fa-star star" onclick="rateStar(2)"></i>
    <i class="fas fa-star star" onclick="rateStar(3)"></i>
    <i class="fas fa-star star" onclick="rateStar(4)"></i>
    <i class="fas fa-star star" onclick="rateStar(5)"></i>
  </div>
  <br>
  <div style="text-align: center;">
    <textarea id="feedback" name="feedback" rows="8" cols="100" class="rounded-border"></textarea>
    <br>
    <div class="d-flex justify-content-end" style="margin-right: 120px;">
    <button type="submit" class="btn btn-send rounded-border btn-shadow" onclick="submitFeedback()">
      <span class="btn-text">Enviar</span>
    </button>
  </div>

</div>

<script>
  let selectedStar = 0;

  function rateStar(star) {
    selectedStar = star;
    const stars = document.querySelectorAll('.star');
    stars.forEach((star, index) => {
      if (index < selectedStar) {
        star.classList.add('checked');
      } else {
        star.classList.remove('checked');
      }
    });
  }

  function submitFeedback() {
    const feedback = document.getElementById('feedback').value;
    console.log(`Feedback: ${feedback}`);
    console.log(`Rating: ${selectedStar}`);
    document.getElementById('feedback').value = '';
    selectedStar = 0;
    rateStar(0);
    alert('Obrigado pelo seu feedback!');
  }
</script>
