<!DOCTYPE html>
<html>
  <head>
    <title>ProjectPipocaAgil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
   <% unless controller_name == 'registrations' && action_name.in?(%w[new create]) || controller_name == 'sessions' && action_name.in?(%w[new create]) ||
             controller_name == 'pages' && action_name == 'email_confirmation'|| controller_name == 'pages' && action_name == 'privacy' %>
    <%= render "shared/navbar" %>
    <% end %>
    <%= render "shared/flashes" %>

    <%= yield %>
  </body>

</html>
